@font-face {
font-family: 'monog';
font-style: normal;
font-weight: 400;
src:  url('/../font/monog.ttf') format('truetype');
}
body{
color:#000;
}
.padding {
padding: 15px !important;
}
.platform-android .bar .back-button .icon:before {
font-size: 32px; 
}
	.loading{height:100vh;}
		.loading svg{
			width: 19%;
			height: 30px;
		}
		.infiniteloading{
			height:45px;
		}
		.infiniteloading svg{    
			width: 19%;
			height: 30px;
	        margin:5px auto;
		}
		ion-infinite-scroll {
			height: 0px !important;
		}
ion-view{
background-image: url('../img/bg.jpg');
background-size: cover;
background-repeat: no-repeat;
}
.tabs-striped .tabs ,.tabs{
background-color: #2D3E50;
color:#fff;
border: none;
}
.white,.radio-content,.placeholder-icon,.item,.cnews,h5 {
color: #000 !important;
}
.content-img {
position: absolute;
width: 90px;
height: 80px;
z-index: 1;
}
.content-imgs {
width: 70px;
height: 80px;
margin: 0px auto;
background-position: center center;
-o-background-size:auto 70px;
-webkit-background-size:auto 70px;
-moz-background-size:auto 70px;
background-size: auto 70px;
background-repeat: no-repeat;
}
.content-data{
padding-left: 90px;
min-height: 80px;
margin-bottom: 2px;
text-overflow: ellipsis;
white-space: initial;
padding-right: 10px;
}
.content-data h5{
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.content-data .details{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.wbg{
background-color: rgba(255, 255, 255, 0.30);
}
ion-tabs.tabs-color-active-light .tab-item {
color: #e0e0e0;
}
.bgheader{
/*border: none;     */
height: 174px;  
/*position: relative;
top: 0;
left: 0;
right: 0;
z-index:9999;
overflow: hidden*/
}
.ion-ios-star,.ion-ios-star-half{
color: #fff170;
text-shadow: 1px 0 0 #000, 0px 0 0 #000, 0 0px 0 #000, 0 0px 0 #000, 0px 0px #000, 0px 0px 0 #000, 0px -1px 0 #000, 0px 1px 0px #000;
}
.ion-ios-star-outline{
color:#000;
}
.full-image {
width: 100%;
max-width: 400px;
border: 1px solid #d9d9d9;
}
.review-btn{      
margin-right: 15px;
background-color: #19adff;
color: #fff;
}
.apply{
border: 0px solid #ccc;
margin: 15px;
}
.item-radio input:checked + .radio-content .item-content {
background: transparent;
}
.backdrop {
background-color: rgba(255, 255, 255, 0);
}
.loading-container .loading {
padding: 0;
border-radius: 0;
background-color: rgba(255, 255, 255, 0);
}
.loading-container .spinner svg {
width: 60px;
height: 60px;
}
.ispinner .spinner {
stroke: #3F7CE3;
fill: #3F7CE3;
}
.keyboard-open .tabs{
display:none;
}
.keyboard-open .has-tabs{
bottom:0;
}
.logo{
position: absolute;
left:0;
right:0;
top:0;
background-image: url(../img/logo.png);
background-position: center center;
background-repeat: no-repeat;
background-size: 195px;
height: 174px; 
}
.fnews{
height: 80px;
}
.bluecolor{
color:#3D85C5 !important;
}
.pinkcolor{
color:#731A46 !important;
}
.greencolor{
color:#38761D !important;
}
.cbse{
background-color: #063763;
}
.matric{
background-color: #7F5F00;
}
.state{
background-color: #660000;
}
.icse{
background-color: #00ACED;
}
.play{
background-color: #FE9900;
}
.kinder{
background-color: #DE1A1A;
}
.logo1 {
background-image: url(../img/logo.png);
background-position: center center;
background-repeat: no-repeat;
background-size: 125px;
height: 120px;
}
.rating{
float: right;
font-size: 26px;
margin: 13px 10px 0px 0px;
}
.rating li{
float: left;
padding: 0px !important;
}
progress {
display: block;
margin: 3px auto;
width: 75%;
text-align: left;
float: left;
margin-right: 10px;
}
.reviewbutton{

}
.has-header{
position: absolute;
top:175px;
left:0;
right:0;
}
.controls {
margin-top: 10px;
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 32px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
background-color: #fff;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
margin-left: 12px;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 300px;
}

#pac-input:focus {
border-color: #4d90fe;
}

.pac-container {
font-family: Roboto;
}

#type-selector {
color: #fff;
background-color: #4d90fe;
padding: 5px 11px 0px 11px;
}

#type-selector label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}
#target {
width: 345px;
}

/* General
==================================*/
h1 {
color: #fff;
text-shadow: 0 1px 0px #000;
font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
border-top: solid 2px #bbb;
padding-top: 30px;
}

.scroll {
height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
background-color: #222;
}

.menu h2 {
bottom: 0;
font-size: 18px;
left: 16px;
position: absolute;
}

.menu .avatar {
height: 88px;
width: 88px;
}

.menu.menu-left * {
font-weight: bold;
}

.menu-open .ion-navicon {
transform: rotate(-360deg);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
content: "\f2ca";
}
h5{
margin-top: 10px;
margin-bottom: 6px;
font-weight: 600;
}
.padtop{
padding-top: 5px;
/*overflow: hidden;*/
line-height: 29px;
height: 42px;
white-space: nowrap;
}
.text-right{
float: right;
}
.mybor1{
border-bottom: 1px solid transparent;
}
.csize{
margin-top: 10px;
margin-bottom: 6px;
}
/* Login
==================================*/
.app-icon {
background-color: #fff;
background: url('../img/crown.jpg') center;
background-size: cover;
border-radius: 50%;
height: 125px;
margin: 0 auto;
width: 125px;
}

.social-login {
position: fixed;
bottom: 0;
}
/* Empty. Add your own CSS if you like */
.login_form {
margin-top: 123px;
}
.sharing{
max-width:250px;
text-align: center;
margin: 0 auto;
}
.social{
display: block;
color:#fff;
margin: 12px auto;
}

.social i{
position: relative;
left: -5px;
font-size: 18px;
top: 1px;
}
.facebook{
background-color: #3B5998;
width: 100%;
}
.facebook:hover{
color: #fff;
}
.twitter{
background-color: #55ACEE;
width: 100%;
}
.twitter:hover{
color: #fff;
}
.cnews,.fnews{
padding: 5px 6px 5px 0px;
}
.cnews h5{
/*overflow: hidden;*/
text-overflow: ellipsis;
white-space: nowrap;
margin-top: 5px;
}
.myimg{
top:10px !important;
}
.fnews h5{
overflow: hidden;
text-overflow: ellipsis;
}
.cnews p{
height: 40px;
overflow: hidden;
text-overflow: ellipsis;
}
.fnews p{
overflow: hidden;
}
.cfind p{
height: 40px;
overflow: hidden;
text-overflow: ellipsis;  
}
/*#map {
height: 40%;
width: 100%;
}*/
.btn_group .active{
background-color: #ddd;
}
#map,#maps { 
height: calc(100vh - 224px);
border-radius: 5px;
border: 1px solid silver;
}
.scroll {
height: 100%;
}
.button_login{
position: relative;
left: 17px;
width: 95%;
top: 44px;
min-height: 28px;
}
@-moz-document url-prefix() { 
.login_pg_row {
position: relative;
left: -11px;
}
}
.main_logo{
width: 175px;
position: relative;
}
.innerlogo{
width: 120px;
}
.school_left_row{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;    
}
.school_left_row:last-of-type{
border:none;
}
.school_image{
max-width: 100%;
position: relative;
max-height: 73px;
}
.wbg{
position: relative;
}
.school_left_row1 {
margin-bottom: 7px;
}
.school_name_list{
position: relative;
top: -25px;
left: -8px;
}

/*.school_tab{
position: absolute;
right: 0;
}*/
.school_name{
padding: 4px 8px;
color: #fff;
font-size: 11px;
border-radius: 5px;
border: 1px solid #000;
}
.school_chart{
font-size: 23px;
padding: 0px 4px;
position: relative;
top: 4px;
}
.school_stds{
padding: 4px 8px;
color: #fff;
font-size: 11px;
border-radius: 5px;
background-color: #134F5C;
}
.login_page{
background-color: #38576f;

/*background: #bb2d5f; /* Old browsers */
/*background: -moz-linear-gradient(45deg, #bb2d5f 0%, #833753 48%, #552c3a 100%); /* FF3.6-15 */*/
/*background: -webkit-linear-gradient(45deg, #bb2d5f 0%,#833753 48%,#552c3a 100%); /* Chrome10-25,Safari5.1-6 */*/
/*background: linear-gradient(45deg, #bb2d5f 0%,#833753 48%,#552c3a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb2d5f', endColorstr='#552c3a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  
}
.customview{
top:175px;
}
.mybutton .button{
margin: 10px auto;
background-color: transparent;
border: 1px solid #fff;
border-radius: 7px;
color: #000;
}
.centerpos{
margin: 0px auto;
}
.login_pg_row{
color: #fff;
}
.icon_size{
font-size: 25px;
color: #fff;
padding-right: 39px;
}
.icon_size1{
padding-right: 41px;    
}
.input_login{
padding-left: 12px !important;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-border-radius: none;
-moz-border-radius: none;
-ms-border-radius: none;
-o-border-radius: none;
border-radius: none;
border: solid 5px #c9c9c9 !important;
-webkit-transition: border 0.3s;
-moz-transition: border 0.3s;
-o-transition: border 0.3s;
transition: border 0.3s;
color: #fff !important;
}
.bar-footer{
background-color: #FF6B6B;
color: #fff;
}
.bar-footer a{
color: #000;
text-decoration: none;
}
.sign_up{
position: relative;
left: 17%;
top: 12px;
}
.button-find{
width: 100%;
border-radius: 50px;
}

.review {
background: #00A6CF; /* Old browsers */
color:#fff;
padding: 4px 27px;
color: #fff;
}

.review_triangle{
font-size: 38px;
position: relative;
top: 10px;
left: -4px;
color: #00A6CF;
}
.review_bar{
padding-left: 10px;   
}
.review_stars{
position: relative;
top: 13px;
font-size: 28px;
left: 47px;    
}
.school_details{
position: relative;
top: 46px;
}
.school_details li{
margin-bottom: 12px;
padding-bottom: 8px;
border-bottom: 2px solid silver;
}
.school_facility ul li{
padding: 0px 5px;
border: 2px solid #000;
border-radius: 9px;
font-size: 12px;
margin-right: 4px;
display: inline-block;
margin-bottom: 12px; 
}
.facility_bar{
margin-top: 27px !important;
margin-left: 12px;
padding-bottom: 0px;
border-bottom: 2px solid;
}
.mybor{
padding: 10px 0px 5px;
border-bottom: 1px solid #ddd;
}
.mypadding{
padding: 10px;
}

.text-center{
text-align: center;
}

.sc_logo{
width: 100%;
}
.sc_list{
height: 77px;
width: 98%;
margin-left: 3px;
border-bottom: 2px solid #7F6000;
margin-bottom: 15px;
}
.sc_list ul li{
margin-left: 4px;
}
.sc_list ul li:nth-child(2){
position: relative;
top: -23px;    
}
.sc_list ul li:nth-child(1) p{
font-weight: bold;
}    
.register_nw{
color: #fff;
position: relative;
left: 33%;
margin-bottom: -20px;  
}
.reg_form{
color: #fff !important; 
}

.input_map{
background: rgba(255, 255, 255, 0.55) !important;
border-radius: 15px;
border: 1px solid #6f7582 !important;
padding-left: 12px !important;
padding-right: 12px !important;
width: 100%;
}
.search_map{
font-size: 22px;
}
.list_btn ,.map_btn {
background-color: transparent;
border: 3px solid #535353;
padding: 5px 13px;
border-radius: 5px;
}
.bg_btn_clr{
background-color: rgb(204,204,204);
}
.btn_group{
position: relative;
margin-bottom: 2px;
text-align: right;
padding-right: 12px;
padding-bottom: 12px;
padding-top: 10px;
top: 107px;
}
.center{
text-align: center;
}
.item-radio .item-content {
padding-left: 64px;
}
.item-radio .radio-icon {
position: absolute;
top: 12px;
left: 22px;
padding: 1px 5px;
height: 30px;
font-size: 20px;
border-radius: 50%;
width: 30px;
}
.bar.bar-header .button+.title {
text-align: center;
left: 35px;
line-height: 46px;
right: 35px;
}
.myForm{
width: 100%;     
}
.greycolor{
background-color: #eee;
}
.item-icon-left {
padding-left: 54px;
/*    padding-right: 78px;*/
}
.item-button-right > .button{
top: 15px;
right: 16px;
font-size: 1em;
}
.button_find{
min-height: 36px;
line-height: 36px;
margin: 15px auto; 
}
.button_find:hover{
background-color: #fff;
color:#11c1f3 !important;
border:1px solid #fff;
}
.circle{
position: absolute;
width:25px;
height: 25px;
border: 1px solid #555;
left: 23px;
top: 14px;
}
.news_detail{
width:100%;
}
.cimg{
height: 90px;
float: left;
margin-right: 10px;
}
.pad5{
padding: 10px;
}
.pad5 h5{
margin-top: 0px;
}
/* Empty. Add your own CSS if you like */
.bar {
z-index: 2;
font-size: 1.3em;
width: 100%;
box-shadow: none;
background: none;
}	
.bar .button.button-clear {
color: #000;
}
.item p{
white-space: normal;
}

/* Frost bar header*/

.ionic-contrib-blur {
overflow: hidden;
position:absolute;
width: 100%;
top:0;
left:0;
right:0;
-webkit-filter:blur(20px);
opacity:.25;
z-index: 1;
}
.italic{
font-style: italic;
}
.bar-frosted {
background-color: #F7F7F7;
}
.item.item-divider { 
font-weight: 600;
border: none;
}
a{
text-decoration: none;
}
.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
text-align: center;
}

/* ----------- iPhone 6+ ----------- */

@media only screen 
and (max-device-width: 414px) 
and (-webkit-min-device-pixel-ratio: 3) { 
.logo {
background-size: 195px;
height: 174px;
}
.bgheader {
height: 174px;  
}
.customview,.has-header {
top: 175px;
}
.btn_group {
top: 107px;
} 
}
/* ----------- iPhone 6 ----------- */

@media only screen 
and (max-device-width: 375px) 
and (-webkit-min-device-pixel-ratio: 2){ 
.logo {
background-size: 195px;
height: 174px;
}
.bgheader {
height: 174px;  
}
.customview,.has-header {
top: 175px;
}
.btn_group {
top: 107px;
} 
.content-data {
padding-left: 90px;
}   
.content-imgs {
width: 78px;
height: 80px;
}
#map, #maps {
height: calc(100vh - 228px);
}

}

/*   iPhone-5   */
@media only screen 
and (max-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 1.5){
.logo {
background-size: 150px;
height: 120px;
}
.bgheader {
height: 120px;
}
.customview,.has-header {
top: 120px;
}
.btn_group {
top: 68px;
} 
.content-data {
padding-left: 80px;
}
.content-img {
width: 80px;
}
.content-imgs {
width: 70px;
}
#map, #maps {
height: calc(100vh - 168px);
}
.mybutton .button {
margin: 5px auto;
}
}