<ion-view class="customheader">
<ion-nav-buttons side="left">
<a class="button back-button buttons button-clear header-item" ng-click="$ionicGoBack()">
  <i class="icon ion-ios-undo-outline"></i>
</a>
</ion-nav-buttons>
<div class="bgheader"><div class="logo"></div>
</div>
<ion-content class="" scroll="false" ng-init="search(searchval)">
<div class="form-group" ng-show="map">
  <div id="map"></div>
</div> 
</ion-content>
</ion-view>    