<ion-view class="customheader">
<div class="bgheader"><div class="logo"></div></div>
<ion-content class="customview">
<div class="center padding">
	<div class="wbg padding">
		<div class="col mytitle">
			<!-- <img ng-src="../img/schoolfinder.png" alt="text" class="full-image"/> -->
		</div>
		<p class="text-left">
			School Locator is Knowledge about your educational institution be it
			their facilities, pass rate, strength of the students,
			nearness to your location to name some are some of
			the key decision factors that a parent or a student
			has to make .....</p>
			<div class="row mybutton text-center">
				<div class="centerpos">
					<a href="#/tab/school" class="button icon-left ion-shuffle"><span class="">EDUCATIONAL NEWS</span></a>
				</div>
			</div>
			<div class="row mybutton text-center">
				<div class="centerpos">
					<a href="#/tab/find" class="button icon-left ion-ios-search-strong"><span class="">LOCATOR</span></a>
				</div>
			</div>
		</div>
	</div>
</ion-content>
</ion-view>
