<ion-view class="customheader">
<ion-nav-buttons side="left">
<a class="button back-button buttons button-clear header-item" ng-click="$ionicGoBack()">
  <i class="icon ion-ios-undo-outline"></i>
</a>
</ion-nav-buttons>
<div class="bgheader"><div class="logo"></div></div>
<ion-content>
    <div class="item item-divider" ng-bind="detail.date | date:'dd-MMM-yy'"></div>
    <div class="wbg">    
            <div class="pad5">
                <img ng-src="{{url}}{{detail.img}}" class="cimg" ng-show="detail.img">
                <img ng-src="../img/placeholder.png" class="cimg" ng-show="!detail.img">
                <h5 ng-bind="detail.name"></h5>
                <div><p ng-bind="detail.news" class=""></p></div>
            </div>   
    </div> 
</ion-content>
</ion-view>
