<ion-view class="customheader" ng-cloak cache-view="false">
<ion-nav-buttons side="left">
<a class="button back-button buttons button-clear header-item" ui-sref="home">
  <i class="icon ion-ios-undo-outline"></i>
</a>
</ion-nav-buttons>
<div class="bgheader"><div class="logo"></div></div>
<ion-content id="keyboardhide" scroll="true">
<ion-list>
<ion-radio ng-model="choice" ng-value="'name'"> <div class="circle"></div>Name of the Educational Institution</ion-radio>
<ion-radio ng-model="choice" ng-value="'pincode'"> <div class="circle"></div>Address or postal code</ion-radio>
</ion-list>
<div class="bar-header item-input-inset">
  <form name="searchForm" novalidate ng-submit="search(searchPlace,pincode)" class="myForm">
    <div class="item item-icon-left ">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input name="place" ng-show="choice=='name'" type="text" ng-model="searchPlace" ng-change="pincode = null" class="input_map">
      <input name="place" ng-show="choice=='pincode'" type="text" ng-model="pincode" ng-change="searchPlace = null"  class="input_map">
    </div> 
    <div class="center">
      <button class="button button-calm button_find" ng-show="choice=='name'" ion-ripple ng-disabled="!searchPlace">
        FIND
      </button>
      <button class="button button-calm button_find" ng-show="choice=='pincode'" ion-ripple ng-disabled="!pincode ">
        FIND
      </button>
    </div>
  </form> 
</div>
</ion-content>
</ion-view>