<ion-view class="customheader">
<ion-nav-buttons side="left">
<a class="button back-button buttons button-clear header-item" ui-sref="home">
  <i class="icon ion-ios-undo-outline"></i>
</a>
</ion-nav-buttons>
<div class="bgheader"><div class="logo"></div></div>
<ion-content>
<div class="center loading" data-tap-disabled="true" ng-show="loading"><ion-spinner icon="ios-small" class="spinner-dark "></ion-spinner></div>
    <div ng-show="shows" class="col center padding"><h5>Not Updated</h5></div>
        <div ng-repeat="school in schoolnews">
            <div class="group-list">
                <div class="list">
                    <div class="item item-divider" ion-affix data-affix-within-parent-with-class="group-list">
                        <span ng-bind="school.date | date:'dd-MMM-yy'"></span>                      
                    </div>                   
                    <div class="school_left_row " ng-repeat="sdata in school.value" ng-click="news(sdata)"> 
                    <div class="content-img">
                        <div class="content-imgs" style="background-image:url('{{url}}{{sdata.img}}');" ng-show="sdata.img"></div>
                        <div class="content-imgs" style="background-image:url('../img/placeholder.png');" ng-show="!sdata.img"></div>
                    </div>
                    <div class="content-data wbg">
                        <div class="fnews">
                            <div><h5 ng-bind="sdata.name"></h5> </div>
                            <div ng-bind="sdata.news" class="details"></div>
                        </div>
                    </div>
                    </div>               
                </div>
            </div>
        </div>
<ion-infinite-scroll distance="10" icon="none" immediate-check="false" on-infinite="load()"></ion-infinite-scroll>
<div class="center infiniteloading dynamicheight"><ion-spinner ng-hide="!infiniteloading" icon="ios-small" class="spinner-dark "></ion-spinner></div>
</ion-content>
</ion-view>
