<ion-nav-bar animation="nav-title-slide-ios7"></ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-light" animation="slide-left-right"> 
  <ion-tab title="Find" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/find">
    <ion-nav-view name="tab-find"></ion-nav-view>
  </ion-tab> 
  <ion-tab title="News" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/school">
    <ion-nav-view name="tab-school"></ion-nav-view>
  </ion-tab> 
  <ion-tab title="Login" icon-off="ion-ios-unlocked-outline" icon-on="ion-ios-unlocked" href="#/tab/rating">
    <ion-nav-view name="tab-rating"></ion-nav-view>
  </ion-tab>
</ion-tabs>

